header {
  padding: 20px 0;
}

.cabecalho-logo {
  width: 190px;
}

.caixa-transparente {
  position: relative;
  width: 940px;
  margin: 10px auto;
}

.lista-navegacao {
  display: flex;
  position: absolute;
  top: 110px;
  right: 0;
  padding: 0;
}

ul li {
  display: inline;
  padding: 0 30px 0 30px;
}
